@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  h1 {
    font-size: 64px !important;
  }
}

.aspect-square {
  aspect-ratio: 1 / 1;
}